<h2 class="text-center text-dark">Mantenimiento Curso</h2>
<div class="d-flex justify-content-center">
    <button class="btn btn-dark" (click)="nuevo()">Nuevo</button>
</div>
<form (ngSubmit)="buscarCurso()" >
    <div class="input-group mb-3 mt-3">
        <input type="text" class="form-control"
        [(ngModel)]="nombreCurso"  name="nombreCurso"
        placeholder="Ingrese nombre Curso" aria-label="Nombre Curso" aria-describedby="button-addon2">
        <button class="btn btn-outline-dark" type="submit" id="button-addon2">Buscar</button>
     </div>
</form>

<app-tabla-curso></app-tabla-curso>