<table class="table">
    <thead>
        <tr>
            <th>Curso</th>
            <th>Seccion</th>
            <th>Profesor</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let horario of horarios |paginate:{itemsPerPage:5,currentPage:page,totalItems:totalLength}">
            <td>{{horario.course.courseName}}</td>
            <td>{{horario.section.sectionName}}</td>
            <td>{{horario.person.personName+ ' '+horario.person.personLastname1+' '+horario.person.personLastname2}}</td>

        </tr>
    </tbody>
</table>
<div class="pagination">
    <pagination-controls (pageChange)="cambiar($event)" ></pagination-controls>
  </div>