<app-menu></app-menu>
<div class="container">
    <table  class="table">
        <thead>
            <tr>
                <th>Codigo</th>
                <th>Descripcion</th>
                <th>Asistidas</th>
                <th>Inasistidas</th>
            </tr>

        </thead>
        <tbody>
            <tr>
                <td><a style="cursor:pointer;" class="link-opacity-100">1</a></td>
                <td>Introduccion a la algoritmia</td>
                <td>1</td>
                <td>0</td>
            </tr>

        </tbody>
    </table>



    
</div>
