<app-menu></app-menu>
<div class="container">
    <table  class="table">
        <thead>
            <tr>
                <th>Codigo</th>
                <th>Descripcion</th>
                <th>Asistidas</th>
                <th>Inasistidas</th>
            </tr>

        </thead>
        <tbody>
            <tr *ngFor="let asis of asistenciaAlumno">
                <td>{{asis.courseName}}</td>
                <td>{{asis.attended}}</td>
                <td>{{asis.missing}}</td>
            </tr>

        </tbody>
    </table>



    
</div>
